# Compiled Object files
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# Compiled misc
*.dep
*.gcda
*.gcno
*.gcov

# Packages
*.tar.gz
*.tar.bz2

# Logs
*.log

# Temporary
*.swp
*.~
*.project
*.cproject

# Core and executable
core*
nutcracker

# extracted yaml
!/contrib/yaml-0.1.4.tar.gz

# Autotools
.deps
.libs

/aclocal.m4
/autom4te.cache
/stamp-h1
/autoscan.log
/libtool

/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config

/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure.scan
/configure

Makefile
Makefile.in
Makefile.release
Makefile.debug

cscope.*

*.pyc
env.sh

log

src/nc_release.h
src/nc_release.c
!test/concatFile/neproxy/conf/*.lo
!test/concatFile/neproxy/conf/*.o
!test/concatFile/neproxy/conf/*.so
!test/concatFile/neproxy/conf/*.la
!test/concatFile/neproxy/conf/*.a
!test/concatFile/neproxy/conf/*.dep
!test/concatFile/neproxy/conf/*.gcda
!test/concatFile/neproxy/conf/*.gcno
!test/concatFile/neproxy/conf/*.gcov
!test/concatFile/neproxy/conf/*.tar.gz
!test/concatFile/neproxy/conf/*.tar.bz2
!test/concatFile/neproxy/conf/*.log
!test/concatFile/neproxy/conf/*.swp
!test/concatFile/neproxy/conf/*.~
!test/concatFile/neproxy/conf/*.project
!test/concatFile/neproxy/conf/*.cproject
!test/concatFile/neproxy/conf/core*
!test/concatFile/neproxy/conf/nutcracker
!test/concatFile/neproxy/conf/.deps
!test/concatFile/neproxy/conf/.libs
!test/concatFile/neproxy/conf/Makefile
!test/concatFile/neproxy/conf/Makefile.in
!test/concatFile/neproxy/conf/Makefile.release
!test/concatFile/neproxy/conf/Makefile.debug
!test/concatFile/neproxy/conf/cscope.*
!test/concatFile/neproxy/conf/*.pyc
!test/concatFile/neproxy/conf/env.sh
!test/concatFile/neproxy/conf/log
!test/concatFile/neproxy/bin/*.lo
!test/concatFile/neproxy/bin/*.o
!test/concatFile/neproxy/bin/*.so
!test/concatFile/neproxy/bin/*.la
!test/concatFile/neproxy/bin/*.a
!test/concatFile/neproxy/bin/*.dep
!test/concatFile/neproxy/bin/*.gcda
!test/concatFile/neproxy/bin/*.gcno
!test/concatFile/neproxy/bin/*.gcov
!test/concatFile/neproxy/bin/*.tar.gz
!test/concatFile/neproxy/bin/*.tar.bz2
!test/concatFile/neproxy/bin/*.log
!test/concatFile/neproxy/bin/*.swp
!test/concatFile/neproxy/bin/*.~
!test/concatFile/neproxy/bin/*.project
!test/concatFile/neproxy/bin/*.cproject
!test/concatFile/neproxy/bin/core*
!test/concatFile/neproxy/bin/nutcracker
!test/concatFile/neproxy/bin/.deps
!test/concatFile/neproxy/bin/.libs
!test/concatFile/neproxy/bin/Makefile
!test/concatFile/neproxy/bin/Makefile.in
!test/concatFile/neproxy/bin/Makefile.release
!test/concatFile/neproxy/bin/Makefile.debug
!test/concatFile/neproxy/bin/cscope.*
!test/concatFile/neproxy/bin/*.pyc
!test/concatFile/neproxy/bin/env.sh
!test/concatFile/neproxy/bin/log
!test/concatFile/neproxy/log/*.lo
!test/concatFile/neproxy/log/*.o
!test/concatFile/neproxy/log/*.so
!test/concatFile/neproxy/log/*.la
!test/concatFile/neproxy/log/*.a
!test/concatFile/neproxy/log/*.dep
!test/concatFile/neproxy/log/*.gcda
!test/concatFile/neproxy/log/*.gcno
!test/concatFile/neproxy/log/*.gcov
!test/concatFile/neproxy/log/*.tar.gz
!test/concatFile/neproxy/log/*.tar.bz2
!test/concatFile/neproxy/log/*.log
!test/concatFile/neproxy/log/*.swp
!test/concatFile/neproxy/log/*.~
!test/concatFile/neproxy/log/*.project
!test/concatFile/neproxy/log/*.cproject
!test/concatFile/neproxy/log/core*
!test/concatFile/neproxy/log/nutcracker
!test/concatFile/neproxy/log/.deps
!test/concatFile/neproxy/log/.libs
!test/concatFile/neproxy/log/Makefile
!test/concatFile/neproxy/log/Makefile.in
!test/concatFile/neproxy/log/Makefile.release
!test/concatFile/neproxy/log/Makefile.debug
!test/concatFile/neproxy/log/cscope.*
!test/concatFile/neproxy/log/*.pyc
!test/concatFile/neproxy/log/env.sh
!test/concatFile/neproxy/log/log
!test/concatFile/neproxy/status/nutcracker/*.lo
!test/concatFile/neproxy/status/nutcracker/*.o
!test/concatFile/neproxy/status/nutcracker/*.so
!test/concatFile/neproxy/status/nutcracker/*.la
!test/concatFile/neproxy/status/nutcracker/*.a
!test/concatFile/neproxy/status/nutcracker/*.dep
!test/concatFile/neproxy/status/nutcracker/*.gcda
!test/concatFile/neproxy/status/nutcracker/*.gcno
!test/concatFile/neproxy/status/nutcracker/*.gcov
!test/concatFile/neproxy/status/nutcracker/*.tar.gz
!test/concatFile/neproxy/status/nutcracker/*.tar.bz2
!test/concatFile/neproxy/status/nutcracker/*.log
!test/concatFile/neproxy/status/nutcracker/*.swp
!test/concatFile/neproxy/status/nutcracker/*.~
!test/concatFile/neproxy/status/nutcracker/*.project
!test/concatFile/neproxy/status/nutcracker/*.cproject
!test/concatFile/neproxy/status/nutcracker/core*
!test/concatFile/neproxy/status/nutcracker/nutcracker
!test/concatFile/neproxy/status/nutcracker/.deps
!test/concatFile/neproxy/status/nutcracker/.libs
!test/concatFile/neproxy/status/nutcracker/Makefile
!test/concatFile/neproxy/status/nutcracker/Makefile.in
!test/concatFile/neproxy/status/nutcracker/Makefile.release
!test/concatFile/neproxy/status/nutcracker/Makefile.debug
!test/concatFile/neproxy/status/nutcracker/cscope.*
!test/concatFile/neproxy/status/nutcracker/*.pyc
!test/concatFile/neproxy/status/nutcracker/env.sh
!test/concatFile/neproxy/status/nutcracker/log
!test/concatFile/neproxy/status/*.lo
!test/concatFile/neproxy/status/*.o
!test/concatFile/neproxy/status/*.so
!test/concatFile/neproxy/status/*.la
!test/concatFile/neproxy/status/*.a
!test/concatFile/neproxy/status/*.dep
!test/concatFile/neproxy/status/*.gcda
!test/concatFile/neproxy/status/*.gcno
!test/concatFile/neproxy/status/*.gcov
!test/concatFile/neproxy/status/*.tar.gz
!test/concatFile/neproxy/status/*.tar.bz2
!test/concatFile/neproxy/status/*.log
!test/concatFile/neproxy/status/*.swp
!test/concatFile/neproxy/status/*.~
!test/concatFile/neproxy/status/*.project
!test/concatFile/neproxy/status/*.cproject
!test/concatFile/neproxy/status/core*
!test/concatFile/neproxy/status/nutcracker
!test/concatFile/neproxy/status/.deps
!test/concatFile/neproxy/status/.libs
!test/concatFile/neproxy/status/Makefile
!test/concatFile/neproxy/status/Makefile.in
!test/concatFile/neproxy/status/Makefile.release
!test/concatFile/neproxy/status/Makefile.debug
!test/concatFile/neproxy/status/cscope.*
!test/concatFile/neproxy/status/*.pyc
!test/concatFile/neproxy/status/env.sh
!test/concatFile/neproxy/status/log
!test/concatFile/neproxy/*.lo
!test/concatFile/neproxy/*.o
!test/concatFile/neproxy/*.so
!test/concatFile/neproxy/*.la
!test/concatFile/neproxy/*.a
!test/concatFile/neproxy/*.dep
!test/concatFile/neproxy/*.gcda
!test/concatFile/neproxy/*.gcno
!test/concatFile/neproxy/*.gcov
!test/concatFile/neproxy/*.tar.gz
!test/concatFile/neproxy/*.tar.bz2
!test/concatFile/neproxy/*.log
!test/concatFile/neproxy/*.swp
!test/concatFile/neproxy/*.~
!test/concatFile/neproxy/*.project
!test/concatFile/neproxy/*.cproject
!test/concatFile/neproxy/core*
!test/concatFile/neproxy/nutcracker
!test/concatFile/neproxy/.deps
!test/concatFile/neproxy/.libs
!test/concatFile/neproxy/Makefile
!test/concatFile/neproxy/Makefile.in
!test/concatFile/neproxy/Makefile.release
!test/concatFile/neproxy/Makefile.debug
!test/concatFile/neproxy/cscope.*
!test/concatFile/neproxy/*.pyc
!test/concatFile/neproxy/env.sh
!test/concatFile/neproxy/log
!test/concatFile/*.lo
!test/concatFile/*.o
!test/concatFile/*.so
!test/concatFile/*.la
!test/concatFile/*.a
!test/concatFile/*.dep
!test/concatFile/*.gcda
!test/concatFile/*.gcno
!test/concatFile/*.gcov
!test/concatFile/*.tar.gz
!test/concatFile/*.tar.bz2
!test/concatFile/*.log
!test/concatFile/*.swp
!test/concatFile/*.~
!test/concatFile/*.project
!test/concatFile/*.cproject
!test/concatFile/core*
!test/concatFile/nutcracker
!test/concatFile/.deps
!test/concatFile/.libs
!test/concatFile/Makefile
!test/concatFile/Makefile.in
!test/concatFile/Makefile.release
!test/concatFile/Makefile.debug
!test/concatFile/cscope.*
!test/concatFile/*.pyc
!test/concatFile/env.sh
!test/concatFile/log
