* text=auto !eol
/.gitignore -text
/.travis.yml -text
/ChangeLog -text
/LICENSE -text
/Makefile.am -text
/NOTICE -text
/README.md -text
/build.sh -text
conf/nutcracker.leaf.yml -text
conf/nutcracker.root.yml -text
conf/nutcracker.yml -text
/configure.ac -text
contrib/Makefile.am -text
contrib/yaml-0.1.4.tar.gz -text
contrib/yaml-0.1.4/.gitignore -text
/git2svn.sh -text
m4/.gitignore -text
man/nutcracker.8 -text
notes/c-styleguide.txt -text
notes/conf.md -text
notes/debug.txt -text
notes/design.md -text
notes/memcache.txt -text
notes/recommendation.md -text
notes/redis.md -text
notes/socket.txt -text
/nutcracker.yml -text
scripts/multi_get.sh -text
scripts/nutcracker.init -text
scripts/nutcracker.spec -text
scripts/pipelined_read.sh -text
scripts/pipelined_write.sh -text
scripts/populate_memcached.sh -text
scripts/redis-check.py -text
scripts/redis-check.sh -text
src/Makefile.am -text
src/event/Makefile.am -text
src/event/nc_epoll.c -text
src/event/nc_event.h -text
src/event/nc_kqueue.c -text
src/hashkit/Makefile.am -text
src/hashkit/nc_crc16.c -text
src/hashkit/nc_crc32.c -text
src/hashkit/nc_fnv.c -text
src/hashkit/nc_hashkit.h -text
src/hashkit/nc_hsieh.c -text
src/hashkit/nc_jenkins.c -text
src/hashkit/nc_ketama.c -text
src/hashkit/nc_md5.c -text
src/hashkit/nc_modula.c -text
src/hashkit/nc_murmur.c -text
src/hashkit/nc_one_at_a_time.c -text
src/hashkit/nc_random.c -text
src/hashkit/nc_range.c -text
src/mkreleasehdr.sh -text
src/nc.c -text
src/nc_array.c -text
src/nc_array.h -text
src/nc_assoc.c -text
src/nc_assoc.h -text
src/nc_client.c -text
src/nc_client.h -text
src/nc_conf.c -text
src/nc_conf.h -text
src/nc_confx.c -text
src/nc_confx.h -text
src/nc_confx.rl -text
src/nc_connection.c -text
src/nc_connection.h -text
src/nc_core.c -text
src/nc_core.h -text
src/nc_log.c -text
src/nc_log.h -text
src/nc_mbuf.c -text
src/nc_mbuf.h -text
src/nc_message.c -text
src/nc_message.h -text
src/nc_proxy.c -text
src/nc_proxy.h -text
src/nc_queue.h -text
src/nc_rbtree.c -text
src/nc_rbtree.h -text
src/nc_request.c -text
src/nc_response.c -text
src/nc_server.c -text
src/nc_server.h -text
src/nc_signal.c -text
src/nc_signal.h -text
src/nc_stats.c -text
src/nc_stats.h -text
src/nc_string.c -text
src/nc_string.h -text
src/nc_util.c -text
src/nc_util.h -text
src/proto/Makefile.am -text
src/proto/nc_memcache.c -text
src/proto/nc_proto.h -text
src/proto/nc_redis.c -text
test/concatFile/neproxy/bin/nutcracker_control -text
test/concatFile/neproxy/conf/control.conf -text
test/concatFile/neproxy/conf/nutcracker.yml -text
test/concatFile/neproxy/log/nutcracker.log -text
test/concatFile/neproxy/status/nutcracker/status -text
test/concatFile/neproxy/supervise.nutcracker -text
test/manage.py -text
test/memcache/.gitignore -text
test/memcache/MANIFEST -text
test/memcache/README.md -text
test/memcache/__init__.py -text
test/memcache/doc/conf.py -text
test/memcache/doc/index.rst -text
test/memcache/memcache.py -text
test/memcache/mock_memcached.py -text
test/memcache/setup.py -text
test/memcache/test.py -text
test/mock_mcd.py -text
test/nutcracker.yml -text
test/redis/__init__.py -text
test/redis/_compat.py -text
test/redis/client.py -text
test/redis/connection.py -text
test/redis/exceptions.py -text
test/redis/utils.py -text
test/test.py -text
test/test_delete.py -text
